body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer{
   background: #222222;
   padding: 50px;
}

.footer .footer_menu{
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}

.footer .footer_menu .title{
  margin-bottom: 10px;
  color: #adadad;
}

.footer .footer_menu ul li a{
  display: block;
  margin-bottom: 6px;
  color: #fff;
}

.footer .footer_menu ul li a:hover{
  text-decoration: underline;
}

.footer .partners{
  margin-bottom: 25px;
}

.footer .partners ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .partners li a{
  background: url('https://i.imgur.com/VP4t37b.png') no-repeat 0 0;
	width: 101px;
	height: 100px;
  display: block;
  margin: 0 5px;
}

.footer .partners li a.partner1{
  background-position: 0 0;
	width: 100px;
	height: 100px;
}
.footer .partners li a.partner2{
  background-position: 0 -108px;
	width: 100px;
	height: 101px;
}
.footer .partners li a.partner3{
  background-position: 0 -216px;
	width: 100px;
	height: 101px;
}
.footer .partners li a.partner4{
  background-position: 0 -325px;
	width: 100px;
	height: 101px;
}
.footer .partners li a.partner5{
  background-position: 0 -446px;
	width: 100px;
	height: 100px;
}

.footer .social_media{
  text-align: center;
}

.footer .social_media ul{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.footer .social_media ul li a{
  display: block;
  margin: 0 5px;
  color: #fff;
  font-size: 24px;
  width: 50px;
  height: 50px;
  background: #fff;
  color: #222222;
  line-height: 50px;
  border-radius: 3px;
}

.footer .social_media ul li a:hover{
  color: #fff;
}

.footer .social_media ul li a.facebook:hover{
  background: #3b5998; 
}

.footer .social_media ul li a.twitter:hover{
  background: #1da1f2; 
}

.footer .social_media ul li a.instagram:hover{
  background: #c32aa3; 
}

.footer .social_media ul li a.whatsapp:hover{
  background: #25d366; 
}

.footer .social_media{
  color: #adadad;
}
