@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300px;
  font-size: 15px;
  line-height:1.5;
}

.boxed {
	box-shadow: 0 0 0 1px rgba(0,0,0,.04),0 0 6px rgba(0,0,0,.1);
	max-width: 1140px;
	margin: 0 auto;
}

.container {
}

.main-container {
}

.row {
  display: flex;
}

.column {
}

.column .left {
  flex: 40%;
}

.navbar {
  overflow: hidden;
  background-color: rgb(115, 20, 114);
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  color: white;
  background-color: inherit;
  border: none;
  margin: 0;
  outline: none;
  padding: 14px 16px;
  text-transform: uppercase;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(255, 255, 255, 0.5);
}

.dropdown-content {
  display: none;
  font-size: 15px;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: rgb(115, 20, 114);
}

.dropdown-content a {
  float: none;
  font-size: 15px;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer {
  background-color: #eaf1f7;
}

.footer .footer_menu {
  column-gap: 10px;
  display: flex;
  font-size: 12px;
  justify-content: center;
  margin-bottom: 25px;
  padding: 50px;
}

.footer .footer_menu .title{
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.footer .footer_menu ul li a{
  display: block;
  margin-bottom: 6px;
}

.footer .footer_menu ul li a:hover{
  text-decoration: underline;
}

.footer .social_media{
  text-align: center;
}

.footer .social_media ul{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.footer .social_media ul li a{
  display: block;
  margin: 0 5px;
  color: #fff;
  font-size: 24px;
  width: 50px;
  height: 50px;
  background: #fff;
  color: #222222;
  line-height: 50px;
  border-radius: 3px;
}

.footer .social_media ul li a:hover{
  color: #fff;
}

.footer .social_media{
  color: #adadad;
}

.footer .bottom-bar {
  background-color: rgb(115, 20, 114);
  color:white;
}
